{% extends "f/base.html" %}
{% block body_block %}
{% load static %}

<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Prosperity College</h1>
      <hr>
    </div>
  </div>
</div>
<div class="container padding">
  <div class="col-12">
    <p class="lead">We offer a wide range of courses tailored for student's individual needs. Courses will be available in person, online and for various types of learners. Some of the courses will include:</p>
  </div>
</div>

<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display2"><b>COURSES</b></h1>
    </div>
  </div>
</div>

<div class="container ">

<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card">
      <img src="{% static "f/images/p_1.jpg"%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#"><button type="button" class="btn btn-outline-secondary">Learn More</button></a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{% static "f/images/p_2.jpg"%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#"><button type="button" class="btn btn-outline-secondary">Learn More</button></a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{% static "f/images/p_3.jpg"%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        <a href="#"><button type="button" class="btn btn-outline-secondary">Learn More</button></a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{% static "f/images/p_4.jpg"%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#"><button type="button" class="btn btn-outline-secondary">Learn More</button></a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{% static "f/images/p_5.jpg"%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#"><button type="button" class="btn btn-outline-secondary">Learn More</button></a>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="{% static "f/images/p_6.jpg"%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#"><button type="button" class="btn btn-outline-secondary">Learn More</button></a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{% static "f/images/p_6.jpg"%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        <a href="#"><button type="button" class="btn btn-outline-secondary">Learn More</button></a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{% static "f/images/p_4.jpg"%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#"><button type="button" class="btn btn-outline-secondary">Learn More</button></a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{% static "f/images/p_5.jpg"%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#"><button type="button" class="btn btn-outline-secondary">Learn More</button></a>
      </div>
    </div>
  </div>


</div>
</div>
<!-- </div>
<div class="container" id="cou_one">
  <div class="row mt-1">
<ul>
  <li>Basic psychology, emotional management & trauma resolution</li>
  <li>Meditation & breathing techniques to improve mental clarity and body-mind coherence</li>
  <li>Speed reading, memory techniques & mind mapping for better information management</li>
  <li>Nutrition</li>
  <li>Physical exercise for neurological wellness, body-mind coherence & increased blood flow</li>
  <li>Engagement with the super-mind (sub-conscious) & utilization of intuition</li>
  <li>Effective engagement with the physical world</li>
  <li>Communication, English, voice & speech training, typing, writing, people skills</li>
  <li>Neurotherapy to increase brain capacity and speed</li>
  <li>How businesses really work</li>
  <li>Employee rights and obligations</li>
  <li>Ethics, honesty and authenticity</li>
</ul>

  </div>

</div> -->
{% endblock %}
